
.dropdown-menu {
    width: auto;
    position: absolute;
    min-width: 160px;
    right: 0;
    top: 65px;
    list-style: none;
    text-align: right;
    font-size: 8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    background: white;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: gray;
}

.drop-menu {
    display: none;
}

.menu-items {
    display: grid;
    color: #113;
    padding: 15px;
    border: 2px solid lightgray;
    background-color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .dropdown-menu {
        width: auto;
        position: absolute;
        min-width: 160px;
        top: 48px;
        font-size: 10;
        list-style: none;
        text-align: start;
    }
}


