
.dropdown-menu {
    width: auto;
    position: absolute;
    min-width: 160px;
    right: 0;
    list-style: none;
    text-align: right;
    font-size: 8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(100%);
    transition: transform ease-out 0.2s;
    top: 65px;
    overflow: hidden;
    border: 2px solid lightgray;
    border-radius: 1rem;
    background: white;
}

.hline {
    background-color: white;
    background: white;
    color: light-gray;
    width: 80%;
}

.dropdown-menu.is-show {
    transform: translateX(0%);
}

.dropdown-menu li {
    background: white;
    cursor: pointer;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background: gray;
    text-decoration: none;
}

.menu-items {
    display: grid;
    color: #113;
    padding: 15px;
    background-color: white;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .dropdown-menu {
        min-width: 160px;
        font-size: 12;
        list-style: none;
    }
    .menu-items {
        font-size: 1.8rem;
    }
}


